body{
    margin: 0;
    padding: 0;
    background: rgb(65, 63, 63);
}
.one{
    justify-content: center;
    align-items: venter;
    margin-top: 360px;
}
.audi{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
}
.audi
    color: white;
}